<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685118355970-hctju7erh1rrp7ts7b5ao832lvrpvoon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685118355970-hctju7erh1rrp7ts7b5ao832lvrpvoon</string>
	<key>API_KEY</key>
	<string>AIzaSyAa3v641Br8WvrQhQuPsJCnWZvfwajxYMc</string>
	<key>GCM_SENDER_ID</key>
	<string>685118355970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dapp2.musictherapy</string>
	<key>PROJECT_ID</key>
	<string>musictherapywearable</string>
	<key>STORAGE_BUCKET</key>
	<string>musictherapywearable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685118355970:ios:3297f65190685a2353851b</string>
	<key>DATABASE_URL</key>
	<string>https://musictherapywearable.firebaseio.com</string>
</dict>
</plist>